<server description="Sample Liberty server">
    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jsonp-1.1</feature>
        <feature>cdi-2.0</feature>
        <feature>mpMetrics-3.0</feature>
        <feature>mpConfig-2.0</feature>
        <feature>jdbc-4.3</feature>
    </featureManager>

    <webApplication location="${artifactId}.war" contextRoot="/"/>

    <mpMetrics authentication="false"/>

    <!-- tag::logging[] -->
    <logging traceSpecification="com.ibm.ws.microprofile.health.*=all" />
    <!-- end::logging[] -->

    <library id="jdbcLib">
        <fileset dir="${shared.resource.dir}/lib" includes="*.jar"/>
    </library>

    <dataSource jndiName="jdbc/myDB">
        <jdbcDriver libraryRef="jdbcLib"/>
        <properties.derby.embedded databaseName="memory:myDB" createDatabase="create"/>
    </dataSource>

    <httpEndpoint host="*" httpPort="${default.http.port}" 
        httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <variable name="io_openliberty_guides_system_inMaintenance" value="false"/>
</server>